body {
display: flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

#main-container {
width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#board-container {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2px;
    justify-content: center;
    margin-top: -50px;
}

.col {

    border-color: black;
    border-style: solid;
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.marker-div {
  display: flex;
    border-width: 3px;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: solid;
    width: 50px;
    height: 50px;
}

.marker-item {

 font-weight: bold;
 font-size: 30px;


}

.win-msg {
    display: grid;
padding-top: 20px;
padding-bottom: 20px;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    align-self: center;
    justify-self: center;
    font-weight: bold;
}

#popup {
    display: flex;
    font-size: small;
    flex-direction: column;
    background-color: #FFAE03;
    padding: 20px;
    border-radius: 8px;
    border-style: none;
    width: 250px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.player-1-sect, .player-2-sect {
    display: flex;
    flex-direction: column;

}

label {
    font-weight: bold;
    padding-bottom: 10px;
}

.submit-sect {
    display: flex;
    justify-content: flex-end;
    
}

#submit {
    display: flex;
    background-color: transparent;
    border-style: none;
    display: inline-block;
}

input {
    border-color: #2B303A;
    border-width: 1px;
    border-style: solid;
}

input:invalid {
    border-color: #B53434;
    border-width: 4px;
}

input:focus {
    outline: none;
    border-color: #053C5E;
}

#btn-div {

    display: flex;
    column-gap: 50px;
}

#start-btn {
    border-style: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 8px;
    width: 100px;

}

dialog {
    border-radius: 8px;
    padding: 0px;
    border-style: none;
}